@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

@import url("../css/fonts.css");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: metropolis-semi-bold;
    position: relative;
}

/* Navbar */
nav.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    padding-left: 120px;
    padding-right: 150px;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    z-index: 10;
}

a.nav-brand {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

a.nav-brand img {
    height: 44px;
    margin-bottom: 10px;
}

.brand-name {
    font-weight: 700;
    font-size: 24px;
    color: rgba(219, 48, 34, 1);
    margin-left: 10px;
}

.search {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.search input {
    width: 500px;
    height: 40px;
    border: 2px solid #8E8E93;
    border-radius: 23px;
    padding-left: 20px;
    background-image: url('../img/icon/Search.png');
    background-position: 490px center;
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out;
}

.search input:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
}

.search input::placeholder {
    font-size: 16px;
}

div.filter {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8E8E93;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

div.filter:hover {
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
}

.user-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 44px;
}

.img-container {
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.img-container:hover {
    background: rgba(219, 48, 34, 0.1);
}

.user-menu img {
    height: 24px;
}

.user-menu img.user-account {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.user-menu img.user-account:hover {
    box-shadow: 0px 0px 8px rgba(219, 48, 34, 1);
}

.user-menu img.user-account {
    height: 35px;
}



/* Body */
.my-checkout {
    margin-top: 150px;
    margin-left: 120px;
    font-size: 34px;
}

h4 {
    margin-top: 40px;
    margin-left: 120px;
    font-size: 16px;
}

section {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    gap: 30px;
}

.container {
    width: 720px;
    margin-bottom: 50px;
}

.address {
    width: 690px;
    height: 170px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
}

h3.address-title {
    margin: 0px;
    font-size: 16px;
}

p.address-text {
    width: 655px;
    font-weight: 400;
    font-family: metropolis-light;
    line-height: 24px;
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

.address-btn {
    margin-top: 20px;
    width: 210px;
    height: 36px;
    border: 1px solid #9B9B9B;
    border-radius: 24px;
    background: none;
    font-size: 14px;
    color: #9B9B9B;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.address-btn:hover {
    background: #9B9B9B;
    color: #FFFFFF;
}

/* Items */
.item {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    height: 126px;
}

.image {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin-left: 20px;
}

.image img {
    width: 70px;
    height: 69px;
    margin-left: 10px;
}

.image-text h3,
.image-text p {
    margin: 0px;
}

.image-text h3 {
    font-size: 16px;
    font-weight: 500px;
}

.image-text p {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(155, 155, 155, 1);
}

.price {
    width: 20%;
    text-align: right;
    margin-right: 30px;
}

/* shopping-summary */
.summary {
    width: 346px;
    height: 230px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    padding: 24px;
}

h3.summary-title {
    font-size: 16px;
    margin: 0;
}

.order, .delivery {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}

.delivery {
    margin-top: 14px;
}

.order h4, .delivery h4 {
    margin: 0;
    font-size: 16px;
    color:rgba(155, 155, 155, 1);
    ;
}

.order h4:last-child, .delivery h4:last-child {
    font-size: 18px;
    color: #000000;
}

hr {
    background: rgba(155, 155, 155, 1);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shop-summary {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.shop-summary h4 {
    margin: 0;
}

.shop-summary h4:last-child {
    font-size: 18px;
    color: rgba(219, 48, 34, 1);
}

button.payment-btn {
    width: 322px;
    height: 36px;
    background: rgba(219, 48, 34, 1);
    color: white;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    margin-top: 24px;
}

button.payment-btn:hover {
    background: orange;
}

.bottom-nav {
    display: none;
}

@media only screen and (max-width: 600px) {

    body {
        background: #fbfbfb;
    }

    nav.navbar {
        display: none;
    }

    .my-checkout {
        font-size: 24px;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }

    h4 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: 14px;
    }

    section {
        margin: 0px auto;
        flex-direction: column;
        gap: 15px;
        box-sizing: border-box;
    }

    .container {
        width: 350px;
        margin: 0px auto;
        margin-bottom: 15px;
    }

    .address {
        width: 335px;
        padding-left: 15px;
        padding-top: 15px;
        height: max-content;
        background: #FFFFFF;
    }

    h3.address-title {
        font-size: 14px;
    }

    p.address-text {
        width: 90%;
        font-size: 12px;
    }

    .address-btn {
        width: 180px;
        height: 32px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .item {
        background: #FFFFFF;

    }

    .image-text h3 {
        font-size: 14px;
        line-height: 15px;
        font-weight: 500px;
    }

    .price {
        width: 20%;
        text-align: right;
        margin-right: 15px;
        font-size: 12px;
    }

    .summary {
        width: 300px;
        background: #FFFFFF;
        margin: 0px auto;
        margin-bottom: 80px;
    }


    /* Bottom-nav */
    .bottom-nav {
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100vw;
        height: 50px;
        background: #FFFFFF;
        background: white;
        box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    }

    .bottom-menu {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }

    .bottom-menu .user-account {
        width: 30px;
    }

    .bottom-logo {
        width: 20px;
        height: 24px;
    }

}