@import url("../css/fonts.css");

body {
    min-height: 100vh;
    width: 100vw;
    font-family: metropolis-regular;
}

.logo {
    gap: 10px;
}

.brand-name {
    color: rgba(219, 48, 34, 1);
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    font-family: metropolis-bold;
}

.role {
    width: 246px;
    height: 48px;
}

.seller, .customer {
    background: rgba(219, 48, 34, 1);
    padding: 0px;
    height: 100%;
    line-height: 48px;
    cursor: pointer;
}

.seller {
    border-radius: 0px 4px 4px 0px;
    color: white;
}

.customer {
    background: none;
    border: 1.5px solid rgba(155, 155, 155, 1);
    border-radius: 4px 0px 0px 4px;
    color: rgba(155, 155, 155, 1);
}

input {
    width: 400px;
    height: 48px;
    border: 1.5px solid #9B9B9B;
    /* filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05)); */
    border-radius: 4px;
    padding-left: 15px;
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

input:focus {
    outline: none;
    border: 2px solid gray;
}

.input-container {
    width: 400px;
}

a {
    color: rgba(219, 48, 34, 1);
}

a.forgot-password {
    color: rgba(219, 48, 34, 1);
    text-align: end;
    width: 100%;
    cursor: pointer;
}

a:hover {
    color: orange;
}

button.button1 {
    height: 48px;
    width: 400px;
    background: rgba(219, 48, 34, 1);
    /* font-size: 14px; */
}

@media only screen and (max-width: 600px) {
    
    h4.text1 {
        font-weight: 400;
        font-size: 18px !important;
    }

    input {
        width: 315px !important;
        height: 40px;
    }

    a.forgot-password {
        width: 315px;
        font-size: 14px;
    }

    button.button1 {
        height: 40px;
        width: 315px;
        font-size: 12px;
    }

    .role {
        width: 180px;
        height: 40px;
    }
    
    .seller, .customer {
        font-size: 13px ;
        padding: 0px;
        height: 100%;
        line-height: 40px;
        cursor: pointer;
    }

    .text2 {
        font-size: 14px;
    }

  }